@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
    display: flex;
}
/*primary color*/
.primary {
    color: #FF900E;
}
.text-primary {
    color: #FF900E;
}   
.text-gay {
    color: #424242;
}
/*Second color*/
.text-dark {
    color: #727272;
}
/* Header styles */
.bg-color {
    background-color:rgba(255, 144, 14, 0.1)
}
 .primary{
    background-color: #FF900E;
    color: white;
    padding: 21px 25px;
    font: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    margin-bottom: 50px;
    margin-top: 32px;
   }
    main{
    max-width: 1440px;
    margin: 0 auto;
   }
   main > section{
    margin-top: 130px;
   }


/* nav bar styles */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
text-decoration: none;
font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin:0 auto;
}
    .banner-content{
 max-withh: 850px;
 margin: 0 auto;
 text-align: center;
 margin-bottom: 50px;
    }
   .banner-title{
    font-weight: 700;
    font-size: 4rem;
   }
   .banner-image{
    width: 100%;
}
.teams{
    margin-top: 70px;
    align-items: center;
    justify-content: center;
   
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature{
    margin-left: 73px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
#features-section{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
     
    }
    .features-card{
         padding: 30px 42px 30px 30px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
        margin-bottom: 20px;
        border-radius: 8px;
    }
    .features-secund{
        gap: 140px;
        margin-top: 130px;
    }
.features-card .features-card-title{
        font-size: 1.25rem;
        font-weight: 600;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    #exprince-badge{
       padding: 45px 42px;
       font-size: 1.5rem   ;
       font-weight: 500;
       margin-left: -100px;
       margin-top: -100px;
    }
       #experience-year{
        font-size: 4rem;
        font-weight: 700;
       }
       .features-image{
        width: 100%;
       }
       /*some facts related styles*/
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 5px;
}
.fact title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
fact-description{
    max-width: 540px;
}
.sponspors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    img {
  filter: grayscale(100%);
}

}
/*Responsive media query*/
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams
    .features-secund{
        flex-direction: column;
    }   
    .team-img-container .fact-container{
        grid-template-columns: repeat(1,1fr);
    .our-feature{
        margin-left: 20px;
    }
    .fact-container, .sponspors-companies{
        justify-items: center;
        gap: 50px;
    }
    .exprince-badge{
        margin-left: 20px;
        margin-top: 20px;}
}
}
/*medium devices*/
@media screen and (min-width: 576px) and (max-width: 992px) 
    .teams
    .features-secund{
        flex-direction: column;
    .our-feature{
        margin-left: 20px auto;
}
#exprince-badge{
        margin-left: 20px;
        margin-top: 20px;}
}

.features-secund{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
}
