@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
    display: flex;
}
/*primary color*/
.text-gay {
    color: #424242;
}
/*Second color*/
.text-dark {
    color: #727272;
}
.bg-color {
    background-color:rgba(255, 144, 14, 0.1)
}
/* Header styles */

/* nav bar styles */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.text-primary{
    color: #FF900E;
}
.nav-link{
text-decoration: none;
color:#727272;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin:0 auto;
}
    .banner-content{
 max-withh: 850px;
 margin: 0 auto;
 text-align: center;
    }
   .banner-title{
    font-weight: 700;
    font-size: 4rem;

   }
   .primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    margin-bottom: 50px;
    margin-top: 30px;
   }
   main{
    max-width: 1440px;
    margin: 0 auto;
   }
   main > section{
    margin-top: 69px;
   }
.banner-image{
    width: 100%;
}
.teams{
    align-items: center;
   
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 69px;
}
.our-feature{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
/*Responsive media query*/
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams,
    {
        flex-direction: column;
    }   
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
   
}
/*medium devices*/
@media screen and (min-width: 577px) and (max-width: 992px) 
    .teams{
        flex-direction: column;
    .our-feature{
        margin: 50px auto;
}
}